<html>
<%
etapa=request.form("etapa")
email=request.form("email")
if etapa <> "" then
Set Mailer = Server.CreateObject ("smtpsvg.mailer")
Mailer.ContentType="Text/html"
Mailer.RemoteHost = "mail.e-host.com.br"
Mailer.FromName="Teste ASPmail"
Mailer.FromAddress=email
Mailer.AddRecipient "Teste ASPmail", cstr(email)
Mailer.subject= "Teste ASPmail"
Mailer.Bodytext="Teste ASPmail" & vbnewline & "Enviado por: " & Request.ServerVariables("Remote_ADDR")
if Mailer.sendmail then
status= "<b>Email enviado com sucesso!</b><br></b>"
else
status= "<b>Nenhum Email enviado !</b><br>"
end if
response.write(status)
else %>
<form method=post action="testew.asp"><input name="email" size="24" ><font size="2" color="#000080"><input type="submit" value="Envia" name="B1"></font><input type=hidden value="send" name="etapa"></form><br><% end if %>
</html>