<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Cabecalho.ascx.cs" Inherits="mesaseetc.WebUserControl1" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="778" border="0">
	<TR>
		<TD><IMG alt="" src="imagens\cabecalho.jpg"></TD>
	</TR>
</TABLE>
