<%@ Control Language="c#" AutoEventWireup="false" Codebehind="menubabaca.ascx.cs" Inherits="mesaseetc.menubabaca" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<style type="text/css" media="all" title="mystyles">
BODY{color:#588C34;font-family:verdana,arial,helvetica;  font: normal normal normal x-small; }

a:link {
	color: #588C34;
	text-decoration: none;
	background-color: transparent }
	
a:visited {
	color: #588C34;
	text-decoration: none;
	background-color: transparent }
	
a:hover {
	color: #588C34;
	text-decoration: none;
	font-size: larger;
	}
	
a:active {
	color: #588C34;
	text-decoration: none;
	background-color: transparent;
	font: large;
 }
</style>
<a href="teste1.aspx">Menu 01a</a><br>
<a href="teste.aspx">Menu 01</a><br>
<a href="teste3.aspx">Menu 01</a><br>
