<%@ Control Language="c#" AutoEventWireup="false" Codebehind="menu.ascx.cs" Inherits="mesaseetc.menu" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<script language="JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<TABLE id="Table2" height="40" cellSpacing="0" cellPadding="0" width="100%" border="0">
	<TR>
		<td style="HEIGHT: 40px"><img src="imagens/inicioselecionado.jpg" name="Image1" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','imagens/inicioover.jpg',1)" border="0"></td>
		<TD style="HEIGHT: 40px"><img src="imagens/servicosout.jpg" name="Image2" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','imagens/servicosover.jpg',1)" border="0"></td>
		<TD style="HEIGHT: 40px"><img src="imagens/fotosout.jpg" name="Image3" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','imagens/fotosover.jpg',1)" border="0"></td>
		<TD style="HEIGHT: 40px"><img src="imagens/prepedidoout.jpg" name="Image4" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','imagens/prepedidoover.jpg',1)" border="0"></td>
		<TD style="HEIGHT: 40px"><img src="imagens/faleout.jpg" name="Image5" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image5','','imagens/faleover.jpg',1)" border="0"></td>
		<TD style="HEIGHT: 40px"><img src="imagens/quemout.jpg" name="Image6" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','imagens/quemover.jpg',1)" border="0"></td>
	</TR>
</TABLE>
