<%@ Page language="c#" Codebehind="popup.aspx.cs" AutoEventWireup="false" Inherits="mesaseetc.popup" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>.:: Visualização ::.</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<script language="C#" runat="server">

public string img="";
public string Desc="";

		</script>
		<%

	img = Request.QueryString["img"];
	Desc = Request.QueryString["Desc"];
	
%>
	</HEAD>
	<body bottomMargin="0" leftMargin="0" topMargin="0" onload="this.focus()" rightMargin="0"
		background="imagens\fundocabecalho.jpg">
		<form id="Form1" method="post" runat="server">
			<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="316" border="0">
				<TR>
					<TD vAlign="middle" align="center" height="11" style="FONT-SIZE: 6px; HEIGHT: 11px">
					</TD>
				</TR>
				<TR>
					<TD style="HEIGHT: 68px" vAlign="middle" align="center" background="imagens\cabecalhofundo.jpg"
						height="68"></TD>
				</TR>
				<TR>
					<TD vAlign="middle" align="center" background="imagens\fundocabecalho.jpg" height="278">
						<asp:image id="Image1" runat="server" ImageAlign="Middle"></asp:image></TD>
				</TR>
				<TR>
					<TD style="WIDTH: 327px; HEIGHT: 30px" background="imagens\fundocabecalho.jpg" align="center">
						<asp:Label id="lblDescricao" runat="server" Font-Bold="True" Font-Size="XX-Small" Font-Names="Verdana"></asp:Label><BR>
						<asp:Label id="lblArquivo" runat="server" Visible="False"></asp:Label></TD>
				</TR>
			</TABLE>
		</form>
	</body>
</HTML>
