<%@ Page language="c#" Codebehind="teste2.aspx.cs" AutoEventWireup="false" Inherits="mesaseetc.teste2" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>teste2</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0">
		<form id="Form1" method="post" runat="server">
			<P>BLABLABLA</P>
			<P>&nbsp;</P>
			<asp:datalist id="dlFiles" width="132" RepeatColumns="8" RepeatDirection="Vertical" Runat="server">
				<SelectedItemStyle Font-Bold="True"></SelectedItemStyle>
				<ItemStyle HorizontalAlign="Center" BorderWidth="1px" VerticalAlign="Middle"></ItemStyle>
				<ItemTemplate>
					<asp:Image id="thumb" runat="server" Height="55px" Width="55px"></asp:Image>
				</ItemTemplate>
				<HeaderStyle Font-Bold="True"></HeaderStyle>
			</asp:datalist>
			<P>aaa<IMG alt="" src="imagens\titulofaleconosco.jpg" border="1"></P>
		</form>
	</body>
</HTML>
