a:link {
	color: #00c;
	text-decoration: none;
	background-color: transparent }
	
a:visited {
	color: #90c;
	text-decoration: none;
	background-color: transparent }
	
a:hover {
	color: #0c0;
	text-decoration: none;
	background-color: #ff0 }
	
a:active {
	color: #c00;
	text-decoration: none;
	background-color: transparent }