.menustyle   { font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #ededed; border: solid 1px gray }
.menuitem    { font-size: 9px; font-family: Verdana, Verdana, Arial, Helvetica, sans-serif, Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; background-color: #f4f4f4; cursor: hand; padding: 5px 15px 5px 7px; border: solid 1px white }
.mouseover    { color: black; font-size: 9px; font-family: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif, Verdana, Verdana, Arial, Helvetica, sans-serif; background-color: silver; cursor: hand; padding: 5px 15px 5px 7px; border: solid 1px gray }