<%@ Page language="c#" Codebehind="gerencia.aspx.cs" AutoEventWireup="false" Inherits="InfoPlug.gerencia" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>gerencia</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<link href="css/default.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<TABLE id="Table1" style="Z-INDEX: 101; LEFT: 0px; POSITION: absolute; TOP: 0px" cellSpacing="0"
				cellPadding="0" width="780" border="0">
				<TR>
					<TD>
						<asp:Image id="Image1" runat="server" ImageUrl="file:///C:\Inetpub\wwwroot\InfoPlug\imagens\logo_infoplug_02.jpg"
							Width="176px" Height="88px"></asp:Image></TD>
					<TD></TD>
					<TD></TD>
				</TR>
				<TR>
					<TD colSpan="3">
						<TABLE id="Table2" cellSpacing="0" cellPadding="0" width="780" border="0">
							<TR>
								<TD style="HEIGHT: 19px" borderColor="#000099" width="132"></TD>
								<TD style="HEIGHT: 19px"></TD>
								<TD style="HEIGHT: 19px" width="132"></TD>
							</TR>
							<TR>
								<TD borderColor="#000099" width="132"></TD>
								<TD></TD>
								<TD width="132"></TD>
							</TR>
							<TR>
								<TD borderColor="#000099" width="132"></TD>
								<TD></TD>
								<TD width="132"></TD>
							</TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</form>
	</body>
</HTML>
