.menustyle  { font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: white; border: solid 1px gray }
.menuitem  { font-size: 9px; font-family: Verdana, Verdana, Arial, Helvetica, sans-serif, Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; background-color: white; cursor: hand; padding: 2px 15px 2px 5px; border: solid 1px white }
.mouseover   { color: black; font-size: 9px; font-family: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif, Verdana, Verdana, Arial, Helvetica, sans-serif; background-color: silver; cursor: hand; padding: 2px 15px 2px 5px; border: solid 1px gray }