<%@ Control Language="c#" AutoEventWireup="false" Codebehind="uCabecalho.ascx.cs" Inherits="InfoPlug.WebUserControl1" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<table width="780" border="0" cellspacing="0" cellpadding="0" id="tableCabecalho">
	<tr>
		<td height="85" width="215"><img src="imagens/info_01.jpg" width="215" height="85"></td>
		<td width="197"><img src="imagens/info_02.jpg" width="197" height="85"></td>
		<td width="183"><img src="imagens/info_03.jpg" width="183" height="85"></td>
		<td width="185"><img src="imagens/info_04.jpg" width="185" height="85"></td>
	</tr>
</table>
