<%@ Control Language="c#" AutoEventWireup="false" Codebehind="uMenuEsquerdo.ascx.cs" Inherits="InfoPlug.uMenuEsquerdo" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="cc1" Namespace="skmMenu" Assembly="skmMenu" %>
<TABLE id="tableMenuEsquerdo" cellSpacing="0" cellPadding="0" width="132" border="0">
	<TR>
		<TD><IMG height="4" src="imagens/info_05.jpg" width="132"></TD>
	</TR>
	<TR>
		<TD><IMG height="23" src="imagens/info_11.jpg" width="132"></TD>
	</TR>
	<TR>
		<TD>
			<cc1:Menu id="menuDesenvolvimento" Width="132px" runat="server"></cc1:Menu></TD>
	</TR>
	<TR>
		<TD>&nbsp;</TD>
	</TR>
</TABLE>
