<%@ Control Language="c#" AutoEventWireup="false" Codebehind="uMenuDireito.ascx.cs" Inherits="InfoPlug.uMenuDireito" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="123" border="0">
	<TR>
		<TD background="imagens/info_09.jpg" height="9"></TD>
	</TR>
	<TR>
		<TD bgColor="#e4e4e4" height="68">
			<DIV align="center">
				<DIV align="center">
					<asp:Label id="lblSemanaExtenso" runat="server" Font-Names="Verdana" Font-Size="X-Small">lblSemanaExtenso</asp:Label><BR>
					<DIV align="center">
						<asp:Label id="lblMesAno" runat="server" Font-Names="Arial Black" Font-Size="Larger">lblMesAno</asp:Label></DIV>
				</DIV>
			</DIV>
		</TD>
	</TR>
	<TR>
		<TD bgColor="#000000" height="1"></TD>
	</TR>
	<TR>
		<TD>&nbsp;</TD>
	</TR>
</TABLE>
