﻿<%@ page language="C#" autoeventwireup="true" inherits="_Default, App_Web_fjyjazk9" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <ajaxToolkit:ToolkitScriptManager ID="ScriptManager1" runat="server" />
        <br />
        &nbsp;<asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                <asp:TextBox ID="TextBox1" runat="server" Width="208px"></asp:TextBox><br />
                <br />
                <asp:Label
                    ID="Label1" runat="server" Text="Label" Width="217px"></asp:Label><br />
                <br />
                <asp:Button ID="Button1"
                        runat="server" OnClick="Button1_Click" Text="Button" Width="141px" /><ajaxToolkit:ConfirmButtonExtender
                            ID="ConfirmButtonExtender1" runat="server" ConfirmText="Posso?" TargetControlID="Button1">
                        </ajaxToolkit:ConfirmButtonExtender>
            </ContentTemplate>
        </asp:UpdatePanel>
        <br />
        <br />
        <br />
        &nbsp;<div>
            &nbsp;</div>
    </form>
</body>
</html>
